@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AsyncInn.Models.Room;
@{
    Layout = "_Layout";
}
<h1>ROOMS</h1>
<div class="row">
    <form class="col s12" action="Create">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Hotel Name" id="@Model.Name" type="text">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select class="browser-default" id="@Model.Layout">
                    <option value="" disabled selected>Select Layout</option>
                    <option value="studio">Studio</option>
                    <option value="oneBedroom">One Bedroom</option>
                    <option value="twoBedroom">Two Bedrooms</option>
                </select>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
            Submit
        </button>
    </form>
</div>