@model AsyncInn.Models.Hotel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1>HOTELS</h1>
<div class="row">
    <form class="col s12" actions="Edit">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Hotel Name" id="name" type="text" value="@Model.Name">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="City Location" id="city" type="text" value="@Model.City">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Phone Number" id="phone" type="number" value="@Model.Phone">
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
        </button>
    </form>
</div>