
@model AsyncInn.Models.Amenities;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}
<h1>AMENITIES</h1>
<div class="row">
    <form class="col s12" asp-action="Create">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Hotel Name" asp-for="Name" type="text">
            </div>
        </div>
        <input class="btn waves-effect waves-light" type="submit" value="Submit"/>
    </form>
</div>