
@model AsyncInn.Models.Amenities;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}
<h1>AMENITIES</h1>
<div class="row">
    <form class="col s12" asp-action="Edit">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Hotel Name" asp-for="@Model.Name" >
            </div>
        </div>
        <input class="btn waves-effect waves-light" type="submit" value="submit"/>
    </form>
</div>