
@model AsyncInn.Models.Amenities;
@{
    Layout = "_Layout";
}
<h1>AMENITIES</h1>
<div class="row">
    <form class="col s12" action="Create">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Hotel Name" id="@Model.Name" type="text" value="@Model.Name">
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
            Submit
        </button>
    </form>
</div>